doctype html
html
  head
    title My Map
  body
    #map
    script.
      function initMap() {
        let height = window.innerHeight;
        let width = window.innerWidth;
        let mapDiv = document.getElementById('map');
        console.log(height);
        console.log(width);
        console.log(mapDiv);
        mapDiv.style.height = height + "px";
        mapDiv.style.width = width + "px";

        console.log(google);
        console.log(google.maps);
        const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          scaleControl: true,
          center: { lat: 50.7729, lng: 15.0729 },
          mapTypeId: 'terrain'
        });

        var dataLow = [];
        var dataMedium = [];
        var dataHigh = [];

        const heatmapData = !{JSON.stringify(heatmapData)};
        console.log(heatmapData);

        heatmapData.forEach(dataPoint => {
          if (dataPoint.noise < 50.0) {
            dataLow.push(new google.maps.LatLng(dataPoint.lat, dataPoint.lon));
          } else if (dataPoint.noise > 70.0) {
            dataHigh.push(new google.maps.LatLng(dataPoint.lat, dataPoint.lon));
          } else {
            dataMedium.push(new google.maps.LatLng(dataPoint.lat, dataPoint.lon));
          }
        });

        var heatmapLow = new google.maps.visualization.HeatmapLayer({
          data: dataLow,
          map: map,
          radius: 12
        });

        var heatmapMedium = new google.maps.visualization.HeatmapLayer({
          data: dataMedium,
          map: map,
          radius: 14
        });

        var heatmapHigh = new google.maps.visualization.HeatmapLayer({
          data: dataHigh,
          map: map,
          radius: 16
        });

        var yellow = [
          'rgba(255, 255, 0, 0.0)',
          'rgba(255, 255, 0, 1.0)',
          'rgba(255, 247, 0, 1.0)',
          'rgba(255, 235, 0, 1.0)',
        ];

        var red = [
          'rgba(255, 0, 0, 0.0)',
          'rgba(255, 0, 0, 0.8)',
          'rgba(242, 0, 0, 0.9)',
          'rgba(230, 0, 0, 1.0)',
        ];

        var green = [
          'rgba(0, 255, 0, 0.0)',
          'rgba(0, 255, 0, 0.8)',
          'rgba(0, 242, 0, 0.9)',
          'rgba(0, 230, 0, 1.0)',
        ];

        heatmapLow.set('gradient', green);
        heatmapMedium.set('gradient', yellow);
        heatmapHigh.set('gradient', red);

        heatmapLow.setMap(map);
        heatmapMedium.setMap(map);
        heatmapHigh.setMap(map);
      }
    script(src='../resources/scripts/google_maps_script.js' onload="initMap()")