doctype html
html
  head
    title Dopravní průzkum ulic – Mapa
    style
      include ../resources/stylesheets/main.css
  body
    #map
    .buttons
      button#heatmap1 Nízké hladiny
      button#heatmap2 Střední hladiny
      button#heatmap3 Vysoké hladiny
      label(for='opacity_input') Průhlednost:
      input#opacity(type='range' value='60' step='10' name='opacity_input')
      button#gradient1 Základní
      button#gradient2 Pokročilé
      button#gradient3 Zakládní odlišení červená/zelená
    .datetime_picker
      label(for='dt_from') Data od:
      input#dtfrom(type='datetime-local' name='dt_from' value="2023-03-01T00:00"
       min="2023-03-01T00:00" max="2023-05-22T23:59")
      label(for='dt_to') Data do:
      input#dtto(type='datetime-local' name='dt_to' value="2023-05-22T23:59"
       min="2023-03-01T00:00" max="2023-05-22T23:59")
      button#getRangeData Načti data pro daný úsek
      label(for='dt_time') Hodina dne:
      input#timepicker(type='time' name='dt_time' value="12:00")
      button#getTimeData Načti data pro hodinu dne
      button#getMap Načti nefiltrovaná data
    script.
      let map, heatmapLow, heatmapMedium, heatmapHigh;
      var yellow = [
        'rgba(255, 255, 0, 0.0)',
        'rgba(255, 255, 0, 0.5)',
        'rgba(255, 255, 0, 0.6)',
        'rgba(255, 255, 0, 0.7)',
        'rgba(255, 255, 0, 0.8)',
        'rgba(255, 255, 0, 0.9)',
        'rgba(255, 255, 0, 1.0)',
      ];
      var red = [
        'rgba(255, 0, 0, 0.0)',
        'rgba(255, 0, 0, 0.5)',
        'rgba(255, 0, 0, 0.6)',
        'rgba(255, 0, 0, 0.7)',
        'rgba(255, 0, 0, 0.8)',
        'rgba(255, 0, 0, 0.9)',
        'rgba(255, 0, 0, 1.0)',
      ];
      var green = [
        'rgba(0, 255, 0, 0.0)',
        'rgba(0, 255, 0, 0.5)',
        'rgba(0, 255, 0, 0.6)',
        'rgba(0, 255, 0, 0.7)',
        'rgba(0, 255, 0, 0.8)',
        'rgba(0, 255, 0, 0.9)',
        'rgba(0, 255, 0, 1.0)',
      ];
      var blue = [
        'rgba(0, 0, 255, 0.0)',
        'rgba(0, 0, 255, 0.5)',
        'rgba(0, 0, 255, 0.6)',
        'rgba(0, 0, 255, 0.7)',
        'rgba(0, 0, 255, 0.8)',
        'rgba(0, 0, 255, 0.9)',
        'rgba(0, 0, 255, 1.0)',
      ];
      var yellowToGreen = [
        'rgba(0, 255, 0, 0.0)',
        'rgba(0, 255, 0, 0.5)',
        'rgba(80, 255, 0, 0.6)',
        'rgba(180, 255, 0, 0.7)',
        'rgba(255, 255, 0, 0.8)',
        'rgba(255, 255, 0, 0.9)',
        'rgba(255, 255, 0, 1.0)',
      ];
      var redToYellowToGreen = [
        'rgba(0, 255, 0, 0.0)',
        'rgba(128, 255, 0, 0.8)',
        'rgba(255, 255, 0, 1.0)',
        'rgba(255, 128, 0, 1.0)',
        'rgba(255, 64, 0, 1.0)',
        'rgba(255, 32, 0, 1.0)',
        'rgba(255, 0, 0, 1.0)',
      ];

      window.onresize = (event) => {
        let height = window.innerHeight;
        let width = window.innerWidth;
        let mapDiv = document.getElementById('map');
        mapDiv.style.height = height + "px";
        mapDiv.style.width = width + "px";
      };

      function initMap() {
        let height = window.innerHeight;
        let width = window.innerWidth;
        let mapDiv = document.getElementById('map');
        console.log(height);
        console.log(width);
        mapDiv.style.height = height + "px";
        mapDiv.style.width = width + "px";

        console.log(google);
        console.log(google.maps);
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          scaleControl: true,
          center: { lat: 50.7729, lng: 15.0729 },
          mapTypeId: 'terrain'
        });

        var dataLow = [];
        var dataMedium = [];
        var dataHigh = [];

        const heatmapData = !{JSON.stringify(heatmapData)};
        console.log(heatmapData);

        heatmapData.forEach(dataPoint => {
          if (dataPoint.noise < 50.0) {
            dataLow.push(new google.maps.LatLng(dataPoint.lat, dataPoint.lon));
          } else if (dataPoint.noise > 70.0) {
            dataHigh.push(new google.maps.LatLng(dataPoint.lat, dataPoint.lon));
          } else {
            dataMedium.push(new google.maps.LatLng(dataPoint.lat, dataPoint.lon));
          }
        });

        heatmapLow = new google.maps.visualization.HeatmapLayer({
          data: dataLow,
          map: map,
          radius: 18
        });

        heatmapMedium = new google.maps.visualization.HeatmapLayer({
          data: dataMedium,
          map: map,
          radius: 18
        });

        heatmapHigh = new google.maps.visualization.HeatmapLayer({
          data: dataHigh,
          map: map,
          radius: 18
        });

        heatmapLow.set('gradient', green);
        heatmapMedium.set('gradient', yellow);
        heatmapHigh.set('gradient', red);

        heatmapLow.setMap(map);
        heatmapMedium.setMap(map);
        heatmapHigh.setMap(map);

        document.getElementById("heatmap1")
          .addEventListener("click", () => toggleHeatmap(1));
        document.getElementById("heatmap2")
          .addEventListener("click", () => toggleHeatmap(2));
        document.getElementById("heatmap3")
          .addEventListener("click", () => toggleHeatmap(3));
        document.getElementById("gradient1")
          .addEventListener("click", () => changeGradient(1));
        document.getElementById("gradient2")
          .addEventListener("click", () => changeGradient(2));
        document.getElementById("gradient3")
          .addEventListener("click", () => changeGradient(3));
        document.getElementById("opacity")
          .addEventListener("click", (event) => changeOpacity(event));
        document.getElementById("getRangeData")
          .addEventListener("click", () => getRangeData());
        document.getElementById("getTimeData")
          .addEventListener("click", () => getTimeData());
        document.getElementById("getMap")
          .addEventListener("click", () => getMap());
      }
      function toggleHeatmap(selection) {
        console.log("Heatmap button: " + selection);
        switch(selection) {
          case 1:
            heatmapLow.setMap(heatmapLow.getMap() ? null : map);
            break;
          case 2:
            heatmapMedium.setMap(heatmapMedium.getMap() ? null : map);
            break;
          case 3:
            heatmapHigh.setMap(heatmapHigh.getMap() ? null : map);
            break;
        }
      }
      function changeGradient(selection) {
        console.log("Gradient button: " + selection);
        switch(selection) {
          case 1:
            heatmapLow.set("gradient", green);
            heatmapMedium.set("gradient", yellow);
            heatmapHigh.set("gradient", red);
            break;
          case 2:
            heatmapLow.set("gradient", green);
            heatmapMedium.set("gradient", yellowToGreen);
            heatmapHigh.set("gradient", redToYellowToGreen);
            break;
          case 3:
            heatmapLow.set("gradient", blue);
            heatmapMedium.set("gradient", yellow);
            heatmapHigh.set("gradient", red);
            break;
        }
      }
      function changeOpacity() {
        console.log("Opacity slider: " + event.target.value / 100);
        heatmapLow.set("opacity", event.target.value / 100);
        heatmapMedium.set("opacity", event.target.value / 100);
        heatmapHigh.set("opacity", event.target.value / 100);
      }
      function getRangeData() {
         window.location.href = "http://ulice.nti.tul.cz:5000/map/datetime?from=" +
         document.getElementById("dtfrom").value + "&to=" + document.getElementById("dtto").value;
      }
      function getTimeData() {
         window.location.href = "http://ulice.nti.tul.cz:5000/map/timeofday?time=" +
         document.getElementById("timepicker").value;
      }
      function getMap() {
         window.location.href = "http://ulice.nti.tul.cz:5000/map";
      }
    script(src='../resources/scripts/google_maps_script.js' onload="initMap()")