body {
    margin: 0;
}
.buttons {
    z-index: 5;
    position: absolute;
    left: 200px;
    top: 10px;
    padding: 8px;
    background-color: white;
}
.datetime_picker {
    z-index: 5;
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 8px;
    background-color: white;
}
.datetime_picker input, .datetime_picker button {
    margin-right: 8px;
}
.buttons input, .buttons button {
    margin-right: 8px;
}